body {
    padding-top: 0px;
    background-color: black;
    position: relative;
}

.row{
    padding-left: 0px;
    margin-left: 0px;
    border-bottom: 10px;
    border-bottom-color: #ffff00;
}

h2{
    color: yellow;
}

h4{
    color: white;
}

.logo{
    border-bottom: 30px;
    border-bottom-color: yellow;
}